.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.logoutImg {
  width: 15px;
  height: 15px;
}

.GoogleImg {
  height: 150px;
  position: relative;
  bottom: 25px;
}
/* .listLoginSignup{
  
} */

ul {
  list-style-type: none;
}

NavLink {
  text-decoration: none;
}

.ReactWeather {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 300px;
  position: absolute;
  left: 5%;
}


