.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.div1 {
  height: 200px;
  background-color: aqua;
}

.logoutImg {
  width: 30px;
  height: 30px;
}

.LoginImg {
  height: 70px;
}

.GoogleImg {
  height: 50px;  
  position: relative;
}
/* .listLoginSignup{
  
} */

ul {
  list-style-type: none;
}

.NavLink {
  text-decoration: none;
}
/* 
.ReactWeather {
  width: 300px;
  position: relative;
  padding-left: 20px;
  padding-top: 65px;
} */