.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}


.logoutImg {
  width: 30px;
  height: 30px;
}

.LoginImg {
  height: 70px;
}

.GoogleImg {
  height: 50px;  
  position: relative;
}
/* .listLoginSignup{
  
} */

ul {
  list-style-type: none;
}

.NavLink {
  text-decoration: none;
}



.toDo {
  background-color: #df2800;
  position: relative;
  left: 33%; 
  text-align: center;
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  width: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
}


.button {
  border-radius: 25px;
  background-color: white;
  color: #df2800;
}

.list {
  display: flex;
  justify-content:space-between;
}

.task.is-dragging {
  background: #515b7d;
  border-color: MediumSeaGreen;
  box-shadow: 0px 0px 2px rgb(8, 58, 30), 0px 0px 10px MediumSeaGreen;
}

.done {
  background-color: #66CD00;
  position: relative;
  left: 35%;
  text-align: center;
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  width: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
}

.button2 {
  border-radius: 25px;
  background-color: white;
  color: #66CD00;
}
/* 
.ReactWeather {
  width: 300px;
  position: relative;
  padding-left: 20px;
  padding-top: 65px;
} */